body,html {
width: 100%;
height: 100%;
}

[role='tablist'] {
  background-color: lightgray;
  color: black;
  width: 100%;
  height: 4em;
  list-style: none;
  font-waight: bold;
  text-align: center;
  margin-bottom: 0.5em;
  padding: 0.5em 0;
}

[role='tab'] {
  height: 3em;
  background-color: gray;
  color: black;
float: left;
  text-align: center;
  border-sizing: border-box;
  border: 1px solid black;
  border-radius: 5px;
  margin: 0;
  padding: 0;
}

[aria-selected='true'] {
  background-color: black;
color: white;
}

[aria-hidden='true'] {
display: none;
}


.tv-panelheading {
  text-align: center;
width: 100%;
}

